@font-face {
    font-family: 'Vazir';
    src: url('./Fonts/Vazir.woff2') format('woff2'),
        url('./Fonts/Vazir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir-Light';
    src: url('./Fonts/Vazir-Light.eot') format('eot'),
        url('./Fonts/Vazir-Light.woff2') format('woff2'),
        url('./Fonts/Vazir-Light.woff') format('woff');
    font-weight: light;
    font-style: normal;
    font-display: swap;
}

* {
    list-style-type: none !important;
}

:root {
    --color-brown1: #5C4033;
    --color-blue1: #0078bf;
    --color-blue2: #1e85be;
    --color-blue3: #5bc0de;
    --color-gray1: #c1c1c1;
    --color-gray2: #ccc;
    --color-gray3: #DDDDDD;
    --color-gray4: #adadad;
    --color-gray5: #f6f5f8;
    --color-gray6: #515151;
    --color-gray7: #e9e6ed;
    --color-gray8: #dcd7e3;
    --color-gray9: #f9fafa;
    --color-gray10: #69727d;
    --color-green1: #4D8B55;
    --color-white1: #ffffff;
    --color-white2: #ffffff99;
    --color-white3: #EFECE5;
    --color-white4: #FAFAFA;
    --color-black1: #000000;
    --color-black2: #242a38;
    --color-black3: #4A4B6D;
    --color-black4: #363636;
    --color-black5: #444444;
    --color-yellow1: #f59e0b;
    --color-red1: #BA0709;
    --color-red2: #C50200;
    --color-overlay: #000000b3;
}

.color-green1 {
    color: var(--color-green1) !important;
}

.fill-green1 {
    fill: var(--color-green1) !important;
}

.color-red1 {
    color: var(--color-red1) !important;
}

.color-white1 {
    color: var(--color-white1) !important;
}

.color-black4 {
    color: var(--color-black4) !important;
}

.color-black5 {
    color: var(--color-black5) !important;
}

.color-gray1 {
    color: var(--color-gray1) !important;
}

.color-gray4 {
    color: var(--color-gray4) !important;
}

.color-gray6 {
    color: var(--color-gray6) !important;
}

.color-gray10 {
    color: var(--color-gray10) !important;
}

.color-yellow1 {
    color: var(--color-yellow1) !important;
}

.color-blue2 {
    color: var(--color-blue2) !important;
}

.bg-brown1 {
    background-color: var(--color-brown1) !important;
}

.bg-white4 {
    background-color: var(--color-white4) !important;
}

.bg-gray1 {
    background-color: var(--color-gray1) !important;
}

.bg-gray2 {
    background-color: var(--color-gray2) !important;
}

.bg-gray5 {
    background-color: var(--color-gray5) !important;
}

.bg-gray7 {
    background-color: var(--color-gray7) !important;
}

.bg-gray9 {
    background-color: var(--color-gray9) !important;
}

.bg-green1 {
    background-color: var(--color-green1) !important;
}

.bg-red1 {
    background-color: var(--color-red1) !important;
}

.bg-red2 {
    background-color: var(--color-red2) !important;
}

.bg-blue3 {
    background-color: var(--color-blue3) !important;
}

a:link,
a:visited,
a:active,
a:focus {
    color: inherit;
    text-decoration: none !important;
}

.transition {
    transition: all ease 0.3s !important;
    -webkit-transition: all ease 0.3s !important;
    -moz-transition: all ease 0.3s !important;
    -ms-transition: all ease 0.3s !important;
    -o-transition: all ease 0.3s !important;
}

.transition-2 {
    transition: all ease 0.3s !important;
    -webkit-transition: all ease 0.3s !important;
    -moz-transition: all ease 0.3s !important;
    -ms-transition: all ease 0.3s !important;
    -o-transition: all ease 0.3s !important;
}

.resize-none {
    resize: none !important;
}

.pointer {
    cursor: pointer !important;
}

.font-vazir-light {
    font-family: 'Vazir Light' !important;
}

.fs-12px {
    font-size: 12px !important;
}

.fs-13px {
    font-size: 13px !important;
}

.fs-14px {
    font-size: 14px !important;
}

.fs-15px {
    font-size: 15px !important;
}

.deg180 {
    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
}

.z-index-50 {
    z-index: 50 !important;
}