@media only screen and (max-width: 1199.5px) {}

@media only screen and (max-width: 991.5px) {

    /* header */
    .header-logo-img {
        width: 130px !important;
        height: 90px !important;
    }

    /* best selling products section */
    .best-selling-products-grid {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .best-selling-products-img {
        width: 100%;
        height: auto;
    }

    /* News & Blogs Section */
    .news-blogs-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 767.5px) {

    .coffee-brands-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    /* video link section */
    .video-link-container {
        background-position: center;
    }

    /* best selling products section */
    .best-selling-products-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media only screen and (max-width: 575.5px) {

    /* header */
    .side-nav-logo-img {
        width: 200px !important;
        height: 140px !important;
    }

    .coffee-cup-section {
        height: 100px !important;
    }

    .coffee-cup-section img {
        width: 300px !important;
    }

    /* main */
    /* about barista cafe section */
    .rotating-border-container {
        top: -50px;
        right: 0px;
    }

    .about-barista-cafe-links {
        width: 100%;
    }

    /* product category section */
    .coffee-brands-img {
        max-width: 170px;
    }

    .coffee-brands-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* best selling products section */
    .add-to-cart-btn {
        width: 130px;
        font-size: 12px;
    }

    .see-all-products-link {
        width: 270px;
    }

    /* approval logos section */
    .approval-logos-img {
        width: 270px;
    }

    /* News & Blogs Section */
    .news-blogs-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}