@media only screen and (max-width: 1199.5px) {
    /* contact page */

    .contact-us-grid {
        width: 100%;
    }

    /* product page */
    /* Product Info Section */

    .product-info-grid {
        width: 100%;
    }

    /* Product Info Tabs Section */

    .product-info-tabs-section {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1050px) {

    /* best selling products section */
    .best-selling-products-img {
        width: 150px;
        height: 150px;
    }

    /* shop page */
    .products-filter-container,
    .product-category-page-text {
        width: 890px !important;
        padding: 0 10px;
    }
}

@media only screen and (min-width: 991.5px) {
    .product-img-slider-btn:hover {
        opacity: 1 !important;
    }
}

@media only screen and (max-width: 991.5px) {

    /* header */
    .header-logo-img {
        width: 130px !important;
        height: 90px !important;
    }

    /* best selling products section */
    .best-selling-products-grid {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .best-selling-products-img {
        width: 100%;
        height: auto;
    }

    /* News & Blogs Section */
    .news-blogs-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* footer */
    .footer-section-grid {
        grid-template-columns: 1fr repeat(1, max-content) 1fr;
    }

    /* shop page */
    .products-filter-container,
    .product-category-page-text {
        width: 100% !important;
        padding: 0 15px;
    }

    /* auth page */

    .forget-password-form {
        width: 100% !important;
    }

    /* contact page */

    .contact-us-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Blog Content Section */

    .blog-content-section,
    .blogs-navigation-section,
    .blog-comments-section {
        width: 100%;
    }

    /* product page */
    /* Product Info Section */

    .product-info-grid {
        grid-template-columns: 1fr;
    }

    .touchpoints-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, max-content);
        gap: 20px;
    }
}

@media only screen and (max-width: 767.5px) {

    .coffee-brands-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    /* video link section */
    .video-link-container {
        background-position: center;
    }

    /* best selling products section */
    .best-selling-products-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    /* footer */
    .footer-section-grid {
        grid-template-columns: 1fr repeat(1, 1fr);
        gap: 10px;
    }

    .about-us-footer,
    .contact-information-footer {
        grid-column: 1 / -1;
    }

    /* video link section */

    .coffee-beans-preparation-steps-container {
        width: 550px;
        height: 350px;
    }

    /* Blog Content Section */

    .blog-content-img {
        width: 100%;
    }
}

@media only screen and (max-width: 575.5px) {

    /* header */
    .side-nav-logo-img {
        width: 200px !important;
        height: 140px !important;
    }

    .coffee-cup-section {
        height: 100px !important;
    }

    .coffee-cup-section img {
        width: 300px !important;
    }

    /* main */
    /* about barista cafe section */
    .rotating-border-container {
        top: -50px;
        right: 0px;
    }

    .about-barista-cafe-links {
        width: 100%;
    }

    /* product category section */
    .coffee-brands-img {
        max-width: 170px;
    }

    .coffee-brands-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* best selling products section */
    .add-to-cart-btn {
        width: 130px;
        font-size: 12px;
    }

    .see-all-products-link {
        width: 270px;
    }

    /* approval logos section */
    .approval-logos-img {
        width: 270px;
    }

    /* News & Blogs Section */
    .news-blogs-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    /* 404 page */
    .head-title-404-section {
        padding-bottom: 250px !important;
    }

    /* video link section */

    .coffee-beans-preparation-steps-container {
        width: calc(100% - 20px);
    }

    /* auth page */

    .login-btn {
        width: 100% !important;
    }

    /* blog page */
    /* blogs navigation section */

    .blog-navigation-links {
        font-size: 10px !important;
    }

    /* blog comment section */

    .send-blog-comment-btn {
        width: 100%;
    }
}

@media only screen and (max-width: 355px) {
    .contact-info-links[href="https://mehrangholami1384.github.io/Personal-Website/"] {
        font-size: 12px !important;
    }

    .product-info-tabs {
        font-size: 13px !important;
    }

    .product-comment-username {
        font-size: 12px !important;
    }
}