/* global ------------------------------------------------------------------------------------------------------------*/

body {
    font-family: 'Vazir', sans-serif !important;
    scroll-behavior: smooth !important;
    background-color: var(--color-white1) !important;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-brown1) !important;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

body::-webkit-scrollbar-track {
    background-color: var(--color-gray1) !important;
}

/* header ------------------------------------------------------------------------------------------------------------*/

.header-section-bg-video {
    z-index: -3 !important;
}

.header-section-bg-video-overlay {
    background-color: var(--color-overlay) !important;
    z-index: -2;
}

.coffee-cup-section {
    background-image: url(../Images/leaves-pattern.png) !important;
    background-color: var(--color-green1) !important;
    height: 150px;
}

.coffee-cup-section img {
    top: -50px;
}

.coffee-smoke-animation img {
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    left: 50%;
    margin-bottom: 300px !important;
    -webkit-transform: translate(-50%, 0px);
    -moz-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    -o-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
    -webkit-animation: lte-smoke-1 12s infinite;
    -moz-animation: lte-smoke-1 12s infinite;
    -o-animation: lte-smoke-1 12s infinite;
    animation: lte-smoke-1 12s infinite;
}   

.coffee-smoke-animation img:nth-child(1) {
    animation-delay: 12s !important;
}

.coffee-smoke-animation img:nth-child(2) {
    animation-delay: 10s !important;
}

.coffee-smoke-animation img:nth-child(3) {
    animation-delay: 8s !important;
}

.coffee-smoke-animation img:nth-child(4) {
    animation-delay: 6s !important;
}

.coffee-smoke-animation img:nth-child(5) {
    animation-delay: 4s !important;
}

.coffee-smoke-animation img:nth-child(6) {
    animation-delay: 2s !important;
}

@keyframes lte-smoke-1 {
    0% {
        opacity: 0;
        transform: translate(-50%, 650px);
        -webkit-transform: translate(-50%, 650px);
        -moz-transform: translate(-50%, 650px);
        -ms-transform: translate(-50%, 650px);
        -o-transform: translate(-50%, 650px);
}

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        transform: translateY(-50%, 0px);
    }
}

.header-social-links-title::after {
    content: '';
    width: 13px;
    height: 1px;
    position: absolute;
    background-color: var(--color-white1);
    top: 8px;
    margin-right: 10px;
}

.header-social-links {
    width: 30px;
    height: 30px;
    border: 1.6px solid var(--color-green1);
}

.header-social-links:hover {
    color: var(--color-white1) !important;
    border-color: var(--color-white1);
}

.cart-btn:hover svg {
    color: var(--color-white2) !important;
}

.cart-count {
    font-size: 12px;
    width: 16px;
    height: 16px;
    top: 1px;
    left: 3px;
}

.nav-link:hover,
.side-nav-link:hover {
    color: var(--color-green1) !important;
}

.active-nav-link {
    color: var(--color-green1) !important;
}

.sub-menu {
    width: 200px;
}

.sub-menu-link:hover,
.side-nav-sub-menu-link:hover {
    background-color: var(--color-green1) !important;
    color: var(--color-white1) !important;
}

.header-search-btn {
    left: 50px !important;
}

.side-nav {
    right: -100% !important;
}

.active-side-nav {
    right: 0% !important;
}

/* about barista cafe section */

.about-barista-cafe-links:hover {
    background-color: var(--color-white3) !important;
    color: var(--color-black1) !important;
}