/* global ------------------------------------------------------------------------------------------------------------*/

/* animations --------------------------------------------------------------------------------------------------------*/
@keyframes lte-smoke-1 {
    0% {
        opacity: 0;
        transform: translate(-50%, 650px);
        -webkit-transform: translate(-50%, 650px);
        -moz-transform: translate(-50%, 650px);
        -ms-transform: translate(-50%, 650px);
        -o-transform: translate(-50%, 650px);
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        transform: translateY(-50%, 0px);
    }
}

@keyframes rotating-border {
    0% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
}

body {
    font-family: 'Vazir', sans-serif !important;
    scroll-behavior: smooth !important;
    background-color: var(--color-white1) !important;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-blue1) !important;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

body::-webkit-scrollbar-track {
    background-color: var(--color-black2) !important;
}

.bg-no-repeant-size-cover {
    background-repeat: no-repeat;
    background-size: cover;
}

.line-clamp-3 {
    -webkit-line-clamp: 3 !important;
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
}

/* header ------------------------------------------------------------------------------------------------------------*/

.default-header-section {
    background-image: url(../Images/default-header-bg.jpg);
    background-position: center;
    background-attachment: fixed;
}

.default-header-section-overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.header-section-bg-video {
    z-index: -3 !important;
}

.header-section-bg-video-overlay,
.video-link-overlay {
    background-color: var(--color-overlay) !important;
    z-index: -2;
}

.coffee-cup-section {
    background-image: url(../Images/leaves-pattern.png) !important;
    background-color: var(--color-green1) !important;
    height: 150px;
}

.coffee-cup-section img {
    top: -50px;
}

.coffee-smoke-animation img {
    zoom: 1;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    left: 50%;
    margin-bottom: 300px !important;
    -webkit-transform: translate(-50%, 0px);
    -moz-transform: translate(-50%, 0px);
    -ms-transform: translate(-50%, 0px);
    -o-transform: translate(-50%, 0px);
    transform: translate(-50%, 0px);
    -webkit-animation: lte-smoke-1 12s infinite;
    -moz-animation: lte-smoke-1 12s infinite;
    -o-animation: lte-smoke-1 12s infinite;
    animation: lte-smoke-1 12s infinite;
}

.coffee-smoke-animation img:nth-child(1) {
    animation-delay: 12s !important;
}

.coffee-smoke-animation img:nth-child(2) {
    animation-delay: 10s !important;
}

.coffee-smoke-animation img:nth-child(3) {
    animation-delay: 8s !important;
}

.coffee-smoke-animation img:nth-child(4) {
    animation-delay: 6s !important;
}

.coffee-smoke-animation img:nth-child(5) {
    animation-delay: 4s !important;
}

.coffee-smoke-animation img:nth-child(6) {
    animation-delay: 2s !important;
}

.header-social-links-title::after {
    content: '';
    width: 13px;
    height: 1px;
    position: absolute;
    background-color: var(--color-white1);
    top: 8px;
    margin-right: 10px;
}

.header-social-links {
    width: 30px;
    height: 30px;
    border: 1.6px solid var(--color-green1);
}

.header-social-links:hover {
    color: var(--color-white1) !important;
    border-color: var(--color-white1);
}

.cart-btn:hover svg {
    color: var(--color-white2) !important;
}

.cart-count {
    font-size: 12px;
    width: 16px;
    height: 16px;
    top: 1px;
    left: 3px;
}

.nav-link:hover,
.side-nav-link:hover {
    color: var(--color-green1) !important;
}

.active-nav-link {
    color: var(--color-green1) !important;
}

.sub-menu {
    width: 200px;
}

.sub-menu-link:hover,
.side-nav-sub-menu-link:hover {
    background-color: var(--color-green1) !important;
    color: var(--color-white1) !important;
}

.header-search-btn {
    left: 50px !important;
}

.side-nav {
    right: -100% !important;
}

.active-side-nav {
    right: 0% !important;
}

/* main ----------------------------------------------------------------------------------------------------------------- */
/* about barista cafe section ------------------------------------------------------------------------------------------- */

.about-barista-cafe-links:hover {
    background-color: var(--color-white3) !important;
    color: var(--color-black1) !important;
}

.coffee-beens-img {
    border-radius: 100px 20px 100px 20px;
    -webkit-border-radius: 100px 20px 100px 20px;
    -moz-border-radius: 100px 20px 100px 20px;
    -ms-border-radius: 100px 20px 100px 20px;
    -o-border-radius: 100px 20px 100px 20px;
}

.rotating-border-container {
    width: 120px;
    height: 120px;
    top: -50px;
    right: -20px;
}

.rotating-border-container::after {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    border: 2px dashed var(--color-green1);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: rotating-border 1s linear infinite;
    -webkit-animation: rotating-border 1s linear infinite;
    transform: rotate(360deg);
}

/* Product Category Section ------------------------------------------------------------------------------------------- */

.product-category-section {
    background-image: url(../Images/product-category-bg.jpg);
}

.product-category-number-container {
    width: 52px;
    height: 50px;
    right: -50px;
}

.product-category-ul li {
    list-style-type: initial !important;
    margin-bottom: 6px;
}

.product-category-img:hover {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

.coffee-brands-img {
    width: 100%;
    height: auto;
    max-width: 100px;
}

.coffee-brands-img:hover {
    opacity: 0.7;
}

.coffee-brands-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(7, 1fr);
}

/* Benefits of Coffee Section ----------------------------------------------------------------------------------------- */

/* Video Link Section ----------------------------------------------------------------------------------------- */

.video-link-container {
    background-image: url(../Images/video-link-bg.webp);
    height: 400px;
    background-attachment: fixed;
}

.play-video-link:hover {
    color: var(--color-green1) !important;
}

.video-link-overlay {
    z-index: 0;
}

.best-selling-products-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    align-items: stretch !important;
}

.add-to-cart-btn {
    width: 150px;
    height: 40px;
}

.add-to-cart-btn:hover {
    background-color: var(--color-black1) !important;
    color: var(--color-white1) !important;
}

.see-all-products-link {
    width: 300px;
    height: 55px;
}

.see-all-products-link:hover {
    background-color: var(--color-white3) !important;
    color: var(--color-black1) !important;
    ;
}

/* Approval Logos Section */

.approval-logos-section {
    border: 3px solid var(--color-green1);
    background-image: url(../Images/leaves-pattern.png);
}

.approval-logos-overlay {
    background-color: rgba(255, 255, 255, 0.8);
}

/* News & Blogs Section */

.news-blogs-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.news-blogs-grid>div {
    border: 1px solid var(--color-gray3);
}

.blog-topic-badge {
    top: 10px;
    right: 10px;
}

.news-blogs-img-link::after {
    content: '';
    display: block;
    position: absolute;
    top: 0 !important;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .35), transparent 75%);
    inset: 0 !important;
    z-index: 10 !important;
    transition: all ease 0.3s !important;
    -webkit-transition: all ease 0.3s !important;
    -moz-transition: all ease 0.3s !important;
    -ms-transition: all ease 0.3s !important;
    -o-transition: all ease 0.3s !important;
}

.news-blogs-grid>div:hover .news-blogs-img-link::after {
    opacity: 0;
}

/* Footer */

.footer,
.header-404-section {
    background-image: url(../Images/video-link-bg.webp);
    background-position: center;
}

.footer-overlay {
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 0 !important;
}

.footer-section-grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, max-content) 1fr;
    grid-template-rows: auto;
    gap: 50px;
}

.quick-access::after {
    content: '';
    position: absolute;
    top: 35px;
    right: 0;
    width: 70%;
    height: 2px;
    background-color: var(--color-green1);
}

.quick-access-links:hover {
    color: var(--color-green1) !important;
}

/* about us page */

.default-header-overlay {
    background-color: rgba(0, 0, 0, 0.4);
}